extends layout

block content
    #container
        ul#controller
            li.button
                a#play(href='#',data-message='250')
                    span Play
            li.button
                a#stop(href='#',data-message='252')
                    span Stop
            li.button
                a#record(href='#',data-message='255')
                    span Record
        #links
            a(href="/keyboard")
                span.button Keyboard
            a(href="/drums")
                span.button Drums